cogs/__pycache__/equation.cpython-38.pyc
cogs/__pycache__/errorhandling.cpython-38.pyc
cogs/__pycache__/maths.cpython-38.pyc
cogs/__pycache__/reactionroles.cpython-38.pyc
cogs/__pycache__/infocommands.cpython-38.pyc
cogs/__pycache__/ping.cpython-38.pyc
cogs/__pycache__/pingcommand.cpython-38.pyc
cogs/__pycache__/clearcommand.cpython-38.pyc
